.App {
  text-align: center;
}

.meme span{
  position: absolute;
  width: 100%;
  left: 0px;
  margin-top: 530px;
  font-size: 38px;
  color: white;
  /* text-shadow: 0 0 10px #000; */
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 rgb(255 250 250), 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

.meme span:nth-child(1)  {
  margin-top: 50px;
}  

.meme img{
  width: 50%;
}

@media screen and (max-width: 800px){
  .meme img{
    width: 100%;
  }

  .meme span{
    margin-top: 300px;
  }
  .meme span:nth-child(1)  {
    margin-top: 15px;
  } 
}

@media  and (max-widht: 1000px) {
  .meme span{
    margin-top: 500px;
  }
}